body{
  text-rendering: geometricPrecision;
}
h1, h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #FF4800;
  }
  .fa{
    margin-right: 10px;
  }
  .formulario{
      margin-top: 100px;
  }
  .well{
      background-color: #DADADA;
  }
